<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lqm.home.mapper.UpdateinfoMapper" >
  <resultMap id="BaseResultMap" type="com.lqm.home.po.Updateinfo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="versioncode" property="versioncode" jdbcType="INTEGER" />
    <result column="packageName" property="packagename" jdbcType="VARCHAR" />
    <result column="updateInfo" property="updateinfo" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
    <result column="versionName" property="versionname" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, versioncode, packageName, updateInfo, url, versionName
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.lqm.home.po.UpdateinfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from updateinfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from updateinfo
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from updateinfo
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.lqm.home.po.UpdateinfoExample" >
    delete from updateinfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.lqm.home.po.Updateinfo" >
    insert into updateinfo (id, versioncode, packageName, 
      updateInfo, url, versionName
      )
    values (#{id,jdbcType=INTEGER}, #{versioncode,jdbcType=INTEGER}, #{packagename,jdbcType=VARCHAR}, 
      #{updateinfo,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}, #{versionname,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.lqm.home.po.Updateinfo" >
    insert into updateinfo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="versioncode != null" >
        versioncode,
      </if>
      <if test="packagename != null" >
        packageName,
      </if>
      <if test="updateinfo != null" >
        updateInfo,
      </if>
      <if test="url != null" >
        url,
      </if>
      <if test="versionname != null" >
        versionName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="versioncode != null" >
        #{versioncode,jdbcType=INTEGER},
      </if>
      <if test="packagename != null" >
        #{packagename,jdbcType=VARCHAR},
      </if>
      <if test="updateinfo != null" >
        #{updateinfo,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="versionname != null" >
        #{versionname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.lqm.home.po.UpdateinfoExample" resultType="java.lang.Integer" >
    select count(*) from updateinfo
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update updateinfo
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.versioncode != null" >
        versioncode = #{record.versioncode,jdbcType=INTEGER},
      </if>
      <if test="record.packagename != null" >
        packageName = #{record.packagename,jdbcType=VARCHAR},
      </if>
      <if test="record.updateinfo != null" >
        updateInfo = #{record.updateinfo,jdbcType=VARCHAR},
      </if>
      <if test="record.url != null" >
        url = #{record.url,jdbcType=VARCHAR},
      </if>
      <if test="record.versionname != null" >
        versionName = #{record.versionname,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update updateinfo
    set id = #{record.id,jdbcType=INTEGER},
      versioncode = #{record.versioncode,jdbcType=INTEGER},
      packageName = #{record.packagename,jdbcType=VARCHAR},
      updateInfo = #{record.updateinfo,jdbcType=VARCHAR},
      url = #{record.url,jdbcType=VARCHAR},
      versionName = #{record.versionname,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.lqm.home.po.Updateinfo" >
    update updateinfo
    <set >
      <if test="versioncode != null" >
        versioncode = #{versioncode,jdbcType=INTEGER},
      </if>
      <if test="packagename != null" >
        packageName = #{packagename,jdbcType=VARCHAR},
      </if>
      <if test="updateinfo != null" >
        updateInfo = #{updateinfo,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="versionname != null" >
        versionName = #{versionname,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lqm.home.po.Updateinfo" >
    update updateinfo
    set versioncode = #{versioncode,jdbcType=INTEGER},
      packageName = #{packagename,jdbcType=VARCHAR},
      updateInfo = #{updateinfo,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      versionName = #{versionname,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>